# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/

# Node / React
node_modules/
dist/
build/
.eslintcache
.stylelintcache

# Базы данных
*.db
*.sqlite3

# IDE
.vscode/
.idea/
.DS_Store